## In Class Activity 1

A logarithmic birthday party is the moment you are some integer power of 10 seconds old (1 second old, 10 seconds old, 100 seconds old, ...)

Compute your first 10 logarithmic birthday parties, store them in a dataframe as shown below.  (You're welcome to use a fake birthday if you'd like)

|  log_bday |  day | hour | minute | month |  sec |   year |
|----------:|-----:|-----:|-------:|------:|-----:|-------:|
|  10^0 sec |  1.0 |  7.0 |   25.0 |   1.0 |  1.0 | 1985.0 |
|  10^1 sec |  1.0 |  7.0 |   25.0 |   1.0 | 10.0 | 1985.0 |
|  10^2 sec |  1.0 |  7.0 |   26.0 |   1.0 | 40.0 | 1985.0 |
|  10^3 sec |  1.0 |  7.0 |   41.0 |   1.0 | 40.0 | 1985.0 |
|  10^4 sec |  1.0 | 10.0 |   11.0 |   1.0 | 40.0 | 1985.0 |
|  10^5 sec |  2.0 | 11.0 |   11.0 |   1.0 | 40.0 | 1985.0 |
|  10^6 sec | 12.0 | 21.0 |   11.0 |   1.0 | 40.0 | 1985.0 |
|  10^7 sec | 27.0 |  1.0 |   11.0 |   4.0 | 40.0 | 1985.0 |
|  10^8 sec |  3.0 | 17.0 |   11.0 |   3.0 | 40.0 | 1988.0 |
|  10^9 sec |  9.0 |  9.0 |   11.0 |   9.0 | 40.0 | 2016.0 |

(++) add a column with a more easily readable time (e.g. `February-11 Feb:02`)

In [1]:
from datetime import datetime, timedelta
import pandas as pd

df_log_bday = pd.DataFrame()

# my birthday
bday = datetime(year=2001, month=12, day=2, hour=8, minute=20, second=0)

for power in range(11):
    # to offset each log bday
    offset = timedelta(seconds=(10 ** power))
    
    # new birthday after each log bday
    bday = bday + offset
    
    # outputting the table
    bday_series = pd.Series({'log_bday': f'10{power} sec', 
                 'day': bday.day, 
                 'hour': bday.hour, 
                 'minute': bday.minute, 
                 'month': bday.month, 
                 'sec': bday.second, 
                 'year': bday.year})
    
    df_log_bday = df_log_bday.append(bday_series, ignore_index=True)
    
df_log_bday

    log_bday   day  hour  minute  month   sec    year
0    100 sec   2.0   8.0    20.0   12.0   1.0  2001.0
1    101 sec   2.0   8.0    20.0   12.0  11.0  2001.0
2    102 sec   2.0   8.0    21.0   12.0  51.0  2001.0
3    103 sec   2.0   8.0    38.0   12.0  31.0  2001.0
4    104 sec   2.0  11.0    25.0   12.0  11.0  2001.0
5    105 sec   3.0  15.0    11.0   12.0  51.0  2001.0
6    106 sec  15.0   4.0    58.0   12.0  31.0  2001.0
7    107 sec   9.0  22.0    45.0    4.0  11.0  2002.0
8    108 sec  10.0   8.0    31.0    6.0  51.0  2005.0
9    109 sec  16.0  10.0    18.0    2.0  31.0  2037.0
10  1010 sec   7.0   4.0     5.0    1.0  11.0  2354.0

## In class activity 2:
1. Express all of the following penguin group's height and weight as a list of dictionaries:
<img src="https://i.ibb.co/XXzX4Wk/penguin-tree.png" alt="Drawing" style="width: 700px;"/>

In [2]:
penguin0 = {'height': [2, 3, 2], 'weight': [4, 6, 5]}
penguin1 = {'height': [4, 6, 5], 'weight': [2, 3, 3]}
penguin2 = {'height': [10, 7, 8], 'weight': [11, 6, 5]}

penguins = [penguin0, penguin1, penguin2]

## In Class Activity 3

Osaka, Japan is located at:

    34.6937° N, 135.5023° E
    
1. Create a dataframe of the next 24 hours of their weather as was done above
2. (++) Make a function `get_forecast` which accepts:
    - `lat`
    - `lon`
    - `api_key`
    - `units` (default = 'imperial')
    
    and returns a dataframe of the next 24 hours of the location's weather.

In [3]:
# we did not get to this activity in class